<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for Sending email </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="font-size:20px"><em>Lela Foods</em>
    <div style="text-indent: 8em;">
       <b> Fast.Fresh convenient</b>
    </div>
<!--    <p th:text="#{Dear(${customer.name})}"/>-->
    <p> Order status: </p> <span th:text="${cart.orderStatus}"></span></p>
    <p>Here are the details of your order:</p>
<!--    <b>Resturant Name: </b> <span th:text="${resturant.name}"></span>-->
    <div th:each="order: ${cart.order}" >
        <div style="text-indent: 3em;">
            <p><b>FoodOrderd: </b> <span th:text="${order.food.name}"></span></p>
            <p><b>Price: </b> <span th:text="${order.food.price}"></span></p>
            <p><b>Total: </b> <span th:text="${order.food.total}"></span></p>
        </div>
        <p><b>orderQuantity: </b> <span th:text="${order.orderQuantity}"></span></p>
    </div>
    <br /><p>
        <b>Always online</b>
    </p>

    <p><br />
        Thanks for your order, <br />
<!--        &emsp; <em><b></b></em>-->
<!--    <div style="font-size:20px"><em></em>-->
<!--        <div style="text-indent: 8em;">-->
<!--            <img src="../templates/images/logo.png"  height="80" width="80" />-->
<!--        </div>-->
    </p>
</div>
</body>
</html>